<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>客户关系管理系统</title>
    <link rel="stylesheet" href="../../css/bootstrap/css/bootstrap.min.css" >
    <link href="../../css/bootstrap-table.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/left_menu.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/addModule.css">
    <script src="../../js/jquery-3.2.1.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/layer/layer.js"></script>
    <script src="../../js/changePassword.js"></script>
    <script src="../../js/productManagement/addProduct.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="wmenu" >
        <dl ><dt class="user"><a href="#" style="margin-left:15px;">首页</a></dt></dl>
        <dl ><dt class="edit"><a href="#">用户管理</a></dt></dl>
        <dl ><dt class="edit"><a href="#">客户管理</a></dt></dl>
        <dl><dt class="edit"><a href="#">商机管理</a></dt></dl>
        <dl ><dt class="edit"><a href="#">产品管理</a></dt></dl>
        <dl><dt class="edit"><a href="#">合同管理</a></dt></dl>
        <dl class="chosenNav" style="background-color:#654e4e"><dt class="edit"><a href="#">财务管理</a></dt></dl>
        <dl><dt class="edit"><a href="#">数据分析管理</a></dt></dl>
        <dl><dt class="edit"><a href="#">办公管理</a></dt></dl>
    </div>
    <div class="content">
        <div class="header">
            <div>
                <ul class="listNav">
                    <li><a href="javascript:void(0)" >新建发票</a></li>
                    <li id="returnLink" ><a href="javascript:void(0)" onclick="">返回上一页面</a></li>
                </ul>
            </div>
            <div class="logoutSystem" ><a href="/index/logout">退出系统</a></div>
            <div class="changePassword" ><a href="javascript:void(0)" onclick="changePassword()">修改密码</a></div>
        </div>
        <div id="blankSpace"> </div>
        <div class="oppoInfo">
            <form class="form-horizontal col-sm-9" role="form" id="">
                <div class="form-group col-md-offset-1">
                    <label class="col-sm-2 control-label" for="bussessId">发票编号</label>
                    <div class="col-sm-8">
                        <input type="text"  class="form-control" id="bussessId"
                               placeholder="请输入应收款编号" value="" required>
                    </div>
                </div>
                <div class="form-group col-md-offset-1">
                    <label class="col-sm-2 control-label" for="bussessName">相关合同编号</label>
                    <div class="col-sm-8">
                        <input type="text"  class="form-control" id="bussessName"
                               placeholder="请点击选择相关合同编号" value="" required>
                    </div>
                </div>
                <div class="form-group col-md-offset-1">
                    <label class="col-sm-2 control-label" for="">相关客户</label>
                    <div class="col-sm-8">
                        <input type="text"  class="form-control" id=""
                               placeholder="请点击选择相关客户" value="" required>
                    </div>
                </div>
                <div class="form-group col-md-offset-1">
                    <label class="col-sm-2 control-label" for="">发票金额</label>
                    <div class="col-sm-8">
                        <input type="text"  class="form-control" id=""
                               placeholder="请输入相关金额" value="" required>
                    </div>
                </div>
                <div class="form-group col-md-offset-1">
                    <label class="col-sm-2 control-label" for="bussessProgress">审核状态</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="bussessProgress">
                            <!--<option>请选择</option>-->
                            <option value="0">待审核</option>
                            <option value="1">审核通过</option>
                            <option value="2">审核不通过</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-offset-1">
                    <label class="col-sm-2 control-label" for="">开票时间</label>
                    <div class="col-sm-8">
                        <input type="text"  class="form-control" id=""
                               placeholder="请输入开票时间" value="" required>
                    </div>
                </div>
                <div class="form-group col-md-offset-1">
                    <label class="col-sm-2 control-label" for="">开票金额</label>
                    <div class="col-sm-8">
                        <input type="text"  class="form-control" id=""
                               placeholder="请输入开票金额" value="" required>
                    </div>
                </div>
                <div class="form-group col-md-offset-1">
                    <label class="col-sm-2 control-label" for="">快递单号</label>
                    <div class="col-sm-8">
                        <input type="text"  class="form-control" id=""
                               placeholder="请输入快递单号" value="" required>
                    </div>
                </div>
                <div class="form-group col-md-offset-1">
                    <label class="col-sm-2 control-label" for="">审核时间</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="">
                            <!--<option>请选择</option>-->
                            <option value="0">增值税普通发票</option>
                            <option value="1">增值税专用发票</option>
                            <option value="2">收据</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="col-md-12 col-md-offset-4" style="">
                <button type="button" id="addBtn" class="btn btn-primary" onclick="">创建发票</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>