@CHARSET "UTF-8";
.red{
	color:#d32a2a
}
body, button, input, select, textarea,div {
	font-family: tahoma,arial,‘Microsoft YaHei’;
}
body{
	background-color:#ffffff;
}

*{
	margin: 0;
	padding: 0;
}