.btnSpace{
    position:relative;
    top:70px;
//  right:120px;
    margin-bottom:65px;
}
#addBtn{
    position:relative;
    right:140px;
}
.btnSpace input{
    position:relative;
    width:150px;
    height:30px;
    left:45%;
}
#searchBtn{
    position:relative;
    left:45%;
}

#listTable{
    text-align:center;
    background-color:#ffffff;
    width:95%;
    position: relative;
    top:20px;
    left:20px;
}

/*财务管理*/
.finance{
    position:relative;
    right:300px;
}

/*办公管理*/
.workLog{
    position:relative;
    right:150px;
}